<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688844028489-nmtsgrs10295iqv7md8jg5abeaso9q2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688844028489-nmtsgrs10295iqv7md8jg5abeaso9q2r</string>
	<key>API_KEY</key>
	<string>AIzaSyDY6nbD-cwwAZh4EjLoM3auD804jarHNiw</string>
	<key>GCM_SENDER_ID</key>
	<string>688844028489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.imnot.wimp119.GridLayouts</string>
	<key>PROJECT_ID</key>
	<string>gridlayout-42c56</string>
	<key>STORAGE_BUCKET</key>
	<string>gridlayout-42c56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688844028489:ios:d1c8186de8d956ab</string>
	<key>DATABASE_URL</key>
	<string>https://gridlayout-42c56.firebaseio.com</string>
</dict>
</plist>